<h1>Referral Invite</h1>

<h2>Please complete all information below</h2>

<div class="large-6 columns">
  <%= form_for [@user, @referral] do |f| %>
    <h3 class="subheader"><%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %></h3>

    <h3 class="subheader"><%= f.label :last_name %>
    <%= f.text_field :last_name %></h3>

    <h3 class="subheader"><%= f.label :email %>
    <%= f.email_field :email %></h3>

    <%= submit_tag "Send invite", class: "medium success radius button" %>
  <% end %>
</div>

